In [3]:
import polars as pl 
import numpy as np
import pandas as pd
from os import path, listdir
from os.path import join, isfile

In [10]:
datadir = '/workspaces/predictive_maintenance/data/raw'
listdir(datadir)
files_path  = [join(datadir, f) for f in listdir(datadir) if '.parquet' in f]

files_path

['/workspaces/predictive_maintenance/data/raw/PdM_failures.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_machines.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_errors.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_maint.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_telemetry.parquet']

In [11]:
# read each parquet file with polars 
df1 = pl.read_parquet(files_path[0])
df2 = pl.read_parquet(files_path[1])
df3 = pl.read_parquet(files_path[2])
df4 = pl.read_parquet(files_path[3])
df5 = pl.read_parquet(files_path[4])

In [19]:
# save each polars dataframe as a csv file with the original name
df1.write_csv(files_path[0].replace('.parquet', '.csv'))
df2.write_csv(files_path[1].replace('.parquet', '.csv'))
df3.write_csv(files_path[2].replace('.parquet', '.csv'))
df4.write_csv(files_path[3].replace('.parquet', '.csv'))
df5.write_csv(files_path[4].replace('.parquet', '.csv'))

In [15]:
df1[1:10]

shape: (9, 3)
┌─────────────────────┬───────────┬─────────┐
│ datetime            ┆ machineID ┆ failure │
│ ---                 ┆ ---       ┆ ---     │
│ str                 ┆ i64       ┆ str     │
╞═════════════════════╪═══════════╪═════════╡
│ 2015-03-06 06:00:00 ┆ 1         ┆ comp1   │
│ 2015-04-20 06:00:00 ┆ 1         ┆ comp2   │
│ 2015-06-19 06:00:00 ┆ 1         ┆ comp4   │
│ 2015-09-02 06:00:00 ┆ 1         ┆ comp4   │
│ ...                 ┆ ...       ┆ ...     │
│ 2015-12-16 06:00:00 ┆ 1         ┆ comp4   │
│ 2015-03-19 06:00:00 ┆ 2         ┆ comp1   │
│ 2015-03-19 06:00:00 ┆ 2         ┆ comp2   │
│ 2015-04-18 06:00:00 ┆ 2         ┆ comp2   │
└─────────────────────┴───────────┴─────────┘