In [1]:
import pandas as pd

In [2]:
cvs_path = '/workspaces/predictive_maintenance/data/other/UpdatedResumeDataSet.csv'

In [5]:
df = pd.read_csv(cvs_path, encoding='latin-1')

In [6]:
df.shape

(962, 2)

In [8]:
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills Ã¢ÂÂ¢ R Ã¢ÂÂ¢ Python Ã¢ÂÂ¢ SAP HANA ...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...