In [1]:
import polars as pl 
import numpy as np
import pandas as pd
from os import path, listdir
from os.path import join, isfile

In [3]:
datadir = '/workspaces/predictive_maintenance/data/raw'
listdir(datadir)
files_path  = [join(datadir, f) for f in listdir(datadir) if '.parquet' in f]

files_path

['/workspaces/predictive_maintenance/data/raw/PdM_failures.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_machines.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_errors.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_maint.parquet',
 '/workspaces/predictive_maintenance/data/raw/PdM_telemetry.parquet']

In [4]:
# read each parquet file with polars 
df1 = pl.read_parquet(files_path[0])
df2 = pl.read_parquet(files_path[1])
df3 = pl.read_parquet(files_path[2])
df4 = pl.read_parquet(files_path[3])
df5 = pl.read_parquet(files_path[4])

In [19]:
# save each polars dataframe as a csv file with the original name
df1.write_csv(files_path[0].replace('.parquet', '.csv'))
df2.write_csv(files_path[1].replace('.parquet', '.csv'))
df3.write_csv(files_path[2].replace('.parquet', '.csv'))
df4.write_csv(files_path[3].replace('.parquet', '.csv'))
df5.write_csv(files_path[4].replace('.parquet', '.csv'))

In [7]:
# read each parquet file with polars 
df1 = pd.read_parquet(files_path[0])
df2 = pd.read_parquet(files_path[1])
df3 = pd.read_parquet(files_path[2])
df4 = pd.read_parquet(files_path[3])
df5 = pd.read_parquet(files_path[4])

In [12]:
df1.to_csv(files_path[0].replace('.parquet', '.csv'),header=False, index=False)
df2.to_csv(files_path[1].replace('.parquet', '.csv'),header=False, index=False)
df3.to_csv(files_path[2].replace('.parquet', '.csv'),header=False, index=False)
df4.to_csv(files_path[3].replace('.parquet', '.csv'),header=False, index=False)
df5.to_csv(files_path[4].replace('.parquet', '.csv'),header=False, index=False)

In [23]:
df5

,datetime,machineID,volt,rotate,pressure,vibration
0,2015-01-01 06:00:00,1,176.217853,418.504078,113.077935,45.087686
1,2015-01-01 07:00:00,1,162.879223,402.747490,95.460525,43.413973
2,2015-01-01 08:00:00,1,170.989902,527.349825,75.237905,34.178847
3,2015-01-01 09:00:00,1,162.462833,346.149335,109.248561,41.122144
4,2015-01-01 10:00:00,1,157.610021,435.376873,111.886648,25.990511
...,...,...,...,...,...,...
876095,2016-01-01 02:00:00,100,179.438162,395.222827,102.290715,50.771941
876096,2016-01-01 03:00:00,100,189.617555,446.207972,98.180607,35.123072
876097,2016-01-01 04:00:00,100,192.483414,447.816524,94.132837,48.314561
876098,2016-01-01 05:00:00,100,165.475310,413.771670,104.081073,44.835259
876099,2016-01-01 06:00:00,100,171.336037,496.096870,79.095538,37.845245