In [1]:
!pip install umap-learn

Requirement already satisfied: umap-learn in /usr/local/python/3.10.4/lib/python3.10/site-packages (0.5.3)
Requirement already satisfied: scikit-learn>=0.22 in /home/codespace/.local/lib/python3.10/site-packages (from umap-learn) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/python/3.10.4/lib/python3.10/site-packages (from umap-learn) (4.64.1)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from umap-learn) (0.5.8)
Requirement already satisfied: scipy>=1.0 in /home/codespace/.local/lib/python3.10/site-packages (from umap-learn) (1.9.3)
Requirement already satisfied: numba>=0.49 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from umap-learn) (0.56.4)
Requirement already satisfied: numpy>=1.17 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from umap-learn) (1.21.6)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from numba>=0.49->umap-learn) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/python/3.10.4/lib/python3.10/site-packages (from numba>=0.49->umap-learn) (58.1.0)
Requirement already satisfied: joblib>=0.11 in /home/codespace/.local/lib/python3.10/site-packages (from pynndescent>=0.5->umap-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn>=0.22->umap-learn) (3.1.0)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python -m pip install --upgrade pip

In [2]:
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd
import time
from os.path import join
import json 
import numpy as np 
from tqdm import tqdm
import seaborn as sns
from os import listdir, path
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [3]:
## Cargamos los datos
df_dataset_telemetria = pd.read_parquet('../data/interim/dataset_telemetria_ts.parquet')
datos_telemetria_agg = pd.read_parquet('../data/interim/dataset_telemetria_ts_agg.parquet')

In [4]:
display(df_dataset_telemetria.head())
display(datos_telemetria_agg.head())

,datetime,machineID,volt,rotate,pressure,vibration,failure,failure_binary,Id,index
71,2015-01-04 05:00:00,1,170.648661,464.189726,103.742947,58.457667,0,0,0,0
72,2015-01-04 06:00:00,1,165.010140,448.468838,97.709630,48.238941,0,0,0,1
73,2015-01-04 07:00:00,1,142.666469,433.279499,118.853452,54.848731,0,0,0,2
74,2015-01-04 08:00:00,1,191.168936,479.615136,101.999663,52.882567,0,0,0,3
75,2015-01-04 09:00:00,1,157.436263,438.091311,113.100915,53.695544,0,0,0,4

,mean_volt,mean_rot,mean_press,mean_vib,max_volt,max_rot,max_press,max_vib,min_volt,min_rot,min_press,min_vib,std_volt,std_rot,std_press,std_vib,failure_binary,failure
FallaId,,,,,,,,,,,,,,,,,,
0,171.613742,444.439583,98.833336,51.901049,215.656488,517.348533,118.853452,62.464103,127.163620,365.213804,82.400818,41.674887,20.474522,34.829504,9.536715,5.253330,1,4
1,186.270657,440.751774,98.217065,39.703847,216.930340,527.416300,115.511427,48.899814,157.315698,354.540120,74.378060,29.981067,17.382095,47.117141,10.491923,5.772734,1,1
2,170.884973,374.567725,101.921812,40.135772,203.104007,489.502527,121.802701,50.877634,136.116842,215.619476,79.552597,30.093808,15.474454,58.837812,9.924503,4.525611,1,2
3,171.404311,460.953214,101.431850,48.283550,198.380679,590.323104,136.553131,57.504011,142.165191,387.342414,86.351078,39.065462,16.009011,48.079568,9.706397,5.285412,1,4
4,166.855652,440.755662,96.903260,57.088316,196.427450,522.264401,121.728619,67.633435,138.740244,345.711420,75.959631,41.313996,15.295089,48.032168,12.038205,7.123330,1,4